.day-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
}

mat-card {
  padding: 1em;
}

mat-card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.current-month {
  background-color: #e3f2fd;
}

.other-month {
  opacity: 0.5;
}

.today {
  background-color: darken(#e3f2fd, 8%);
}

.holiday {
  background: #ffb0b0;
  color: white;
}
